.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card-body {
  padding: 0px;
  margin: 0px;
  background-color: rgb(44, 255, 44);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: rgb(7, 4, 4);
}
