body {
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  color: #333;
}
table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table thead {
  background-color: #0e0d0d;
  color: white;
}

.inputField {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(158, 145, 145);
  border-radius: 4px;
  box-sizing: border-box;
}
