body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

img {
  width: 100%;
}

/* Small Devices */
@media (max-width: 500px) {
  body {
    background: linear-gradient(45deg, #f32373, #21eb21);
  }
  h1:nth-child(1) {
    display: block;
  }
}

/* Mobile Devices */
@media (min-width: 501px) and (max-width: 630px) {
  body {
    background: linear-gradient(45deg, #f0c7d7, #eb2121);
  }
  h1:nth-child(2) {
    display: block;
  }
}

/* Tablet Devices */
@media (min-width: 631px) and (max-width: 700px) {
  body {
    background: linear-gradient(45deg, #ff3ace, #0b739c);
  }
  h1:nth-child(3) {
    display: block;
  }
}

/* Laptop Devices */
@media (min-width: 801px) and (max-width: 1000px) {
  body {
    background: linear-gradient(45deg, #10ffc3, #3bf816);
  }
  h1:nth-child(4) {
    display: block;
  }
}

/* Large Devices */

/* 1000 and 1365px */

@media (min-width: 1001px) {
  body {
    background: linear-gradient(45deg, #f38ec9, #f57d91);
  }
  h1:nth-child(5) {
    display: block;
  }
}
